body {
  margin: auto;
  background: #1F509A;
  font-family: system-ui;
  /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
  display: grid;
  place-content: center;
  min-height: 100vh;
}

.App {
  display: flex;
  flex-wrap: wrap; /* Permite que las tarjetas se acomoden en varias líneas */
  justify-content: center; /* Centra las tarjetas */
  
  gap: 20px; /* Espacio entre las tarjetas */
  padding: 10px; /* Evita que queden pegadas al borde */
}